.message{
    border: 1px solid black;
    * {
        margin: 0px;
    }

}

#messages-container {
    max-width: 1200px;
    margin: auto;
    #messages-wrapper {
        overflow-y: auto;
        height:800px;
        border: 1px solid black;
        @media(min-width: 400px) {
            width: 80%;
        }
    }
}
