$primary: #FFFFFF;
$secondary: #3b3b3b;
$accent: #31ad5e;
$tc-1: #d45dff;
$tc-2: #ec4969;
$off-white: #c4c4c4;

.b2 {
    border: 3px solid black;
    color: black;
    background: transparent;
    border-radius: 25px;
    font-weight: 800;
    font-size: 20px;
    margin: auto;
    &:hover {
        color: white;
        background:black;
    }
}
#login-form {
    margin: 30px auto 0px;
    display:flex;
    flex-flow: column wrap;
    max-width: 750px;
    padding: 5px 15px 15px;
    border: 3px solid black;
    border-radius: 15px;
    h1 {
        font-size: 40px;
        margin:3px 3px 3px 13px;
    }
    input {
        flex-grow: 1;
        margin:10px;
        padding:5px;
        height:30px;
        background-color: transparent;
        border: 3px solid black;
        border-radius: 10px;
        color: black;
        font-size: 25px;
        font-weight:800;
        &::placeholder {
            color:black;
        }
    }
    button {
        @extend .b2;
        margin: 10px;
        height: 40px;
        width: 200px;
    }
    div {
        display:flex;
        flex-flow: row;
        align-items: center;
        p {
            margin-right: 4px;
        }
    }
    a {
        margin: 3px 3px 3px 13px;
        font-size: 20px;
        color: black;
        font-weight: 800;

    }
}