<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>
  <script>
    function updateKey(){

      let token = document.cookie.slice(6)
      if (token){
        elements = document.getElementsByName("token")
        for (let i = 0; i < elements.length; i++){
          elements[i].value = token

        }
        document.getElementById("ident").innerText = "You are logged in, select a Server or DM"

    }}
    function logOut(){
      document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      window.location = "/"
      return false
    }


  </script>
  <div class="sidenav">
    <button onclick="logOut()">Log Out
    </button>
    <div class = "opts">
    <form action = {{"/guild/0"}} method = "post">
      <input type= 'hidden' id='serverBtn' name="token" value="1" >
      <button style="width:130px;background-color:grey;">
       Servers
      </button>

    </form>
    <form action = {{"/dm/0"}} method = "post">
      <input  type="hidden" id="dmBtn" name="token" value="1" >

      <button style="width:130px;background-color:grey;">
       DMs
      </button>

    </form>
  </div>

    <div id='guilds'>

      {%if guilds%}

      {%for guild in guilds%}

<form action = {{("/channel/" if (guild_check == 'guild') else "/messages/")~guild['id']}} method = "post">
  <input type="hidden" name="token" value="1">

             <button>
              {%if guild['name']%}
              {{guild['name']}}
              {%else%}
              {{guild['recipients']|join(', ', attribute = 'global_name')}}
              {%endif%}
             </button>
            </form>
      {%endfor%}
      {%endif%}
      </div>
  </div>
  <body>
<p id='messages'>
  {%if messages%}
    {%for item in messages%}
       <br><b>{{item['author']['global_name']}}</b>:<br>{{item['content']}}<br>
    {%endfor%}
    <form action = "" method = "post">
      <input type="hidden" name="token" value="1">
      <input type="hidden" name="send" value="true">

      <input id="sendbox" name="message" type="text" placeholder="Send message..." autocomplete="off">
      </form>

  {%else%}
    <b id="ident" >You are not logged in yet</b>
    <br><a href = "https://www.youtube.com/watch?v=YEgFvgg7ZPI" target="_blank" style="color:#Ee585b;">How to find discord token</a>

  {%endif%}
</p>




</body>
<script>

  setTimeout(function(){if(document.getElementById("sendbox")){
    document.getElementById("sendbox").scrollIntoView(false)};
             }, 20);

   updateKey()

</script>
</html>
