<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <script>
        function updateKey(){
        let token = document.cookie.slice(6)
            if (token){
                elements = document.getElementsByName("token")
                for (let i = 0; i < elements.length; i++){
                    elements[i].value = token

                }
            }
        }

        function logOut(){
            document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location = "/login"
            return false
        }
    </script>
    <div class="sBar">
        <button onclick="logOut()" class="logout">
            Switch account
        </button>
        <form action = {{"/dm/0"}} method = "post">
            <input  type="hidden" id="openDms" name="token" value="1" >
            <button class = "opts">
                DMs
            </button>
        </form>

        <div class="serverBtns">
            {% for guild in guilds %}
                <form action = {{ "/channel/" ~ guild['id']}} method = "post">
                    <input type="hidden" name="token" value="1">
                    {%if guild['name']%}
                       <button class="serverBtn">
                               {{guild['name']}}
                       </button>
                    {%endif%}
                </form>
            {%endfor%}
        </div>
    </div>
    <div class="sNav">
        <div class="dmBtns" type="hidden">
            {% for dms in snav %}
                <form action = {{ "/message/"~dms['id']}} method = "post">
                    <input type="hidden" name="token" value="1">
                        {%if dms['name']%}
                            <button class="gcBtn">
                                    {{dms['name']}}
                            </button>
                        {%else%}
                            <button class="dmBtn">
                                {{dms['recipients']|join(', ', attribute = 'global_name')}}
                            </button>
                        {%endif%}
                </form>
            {%endfor%}
        </div>
    </div>

    <body>
        <p id='messages'>
            {%if messages%}
                {%for item in messages%}
                    <br><b>{{item['author']['global_name']}}</b>:<br>{{item['content']}}<br>
                {%endfor%}

                <form action = "" method = "post">
                    <input type="hidden" name="token" value="1">
                    <input type="hidden" name="send" value="true">
                    <input id="sendbox" name="message" type="text" placeholder="Send message..." autocomplete="off">
                </form>

            
            {%endif%}
        </p>
        
    </body>

    <script>

        setTimeout(function(){if(document.getElementById("sendbox")){
            document.getElementById("sendbox").scrollIntoView(false)}
        }, 20);
        updateKey()
    </script>
</html>