<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
</head>
<script>
    function login(){
      let token = document.getElementById("tokenPaste").value
      document.cookie = "token="+token
      document.getElementsByName("token")[0].value = token

    }
</script>
<div class="items">
    <h1 id="ident">Please login</h1>
    <br><a href = "https://www.youtube.com/watch?v=YEgFvgg7ZPI" target="_blank">How to find discord token</a>
    
        <form action = {{"/guild/0"}} method = "post" onsubmit="login()">

        <input id="tokenPaste" type="text" placeholder="Paste Token here" >
        <br>
        <button type="submit" id="submitToken">Submit</button>

        <input type="hidden" name="token" value=1>
        </form>
    </div>
</html>
