<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
</head>
<script>
    function login(){
      let token = document.getElementById("tokenPaste").value
      document.cookie = "token="+token
      document.getElementsByName("token")[0].value = token

    }
</script>
<body>
    <h1>Please sign in</h1>
    <button onclick="function a(){document.getElementById('tokenPaste').type='text'; document.getElementById('submitToken').style=''};a()">Login
        </button>
        <form action = {{"/guild/0"}} method = "post" onsubmit="login()">

        <input id="tokenPaste" type="hidden" placeholder="Paste Token here" >
        <button type="submit" style="display: none;" id="submitToken">Submit</button>

        <input type="hidden" name="token" value=1>
        </form>
</body>
</html>
