:root {
  --color-not-quite-black: #23272a;
  --color-dark: #2c2f33;
  --color-lighter-dark: #45494e;
  --color-full-white: #ffffff;
  --color-actually-black: #000000;
  --color-fantastic-green: #00ae7a;
}

body {
  background-color: var(--color-dark);
  color: white;
  font-size: 20px;
  margin-left: 90px;
  padding: 0px 10px;
}

#messages {
  margin-left: 180px;
}

b {
  color: #Ee585b;
}

#ident {
  color: #e65555;
  font-size: 50px;
}

#sendbox {
  margin-left: 180px;
  width: 600px;
  height: 30px;
  border: 3px solid black;
  font-size: 14pt;
  background-color: #40444b;
  color: white;
}

.sBar {
  height: 100%;
  background: var(--color-not-quite-black);
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.sBar::-webkit-scrollbar {
  display: none;
}

.serverBtns {
  background: var(--color-not-quite-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.serverBtn {
  background: var(--color-lighter-dark);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition-duration: 0.3s;
}

.sNav {
  height: 100%;
  background: darkslategray;
  width: 150px;
  position: fixed;
  top: 0;
  left: 2;
  overflow-x: hidden;
}

.sNav::-webkit-scrollbar {
  display: none;
}

.dmBtn {
  background: var(--color-fantastic-green);
  width: 100px;
  height: 30px;
  transition-duration: 0.3s;
}

.channelBtn:hover {
  background-color: rgb(129, 124, 129);
  border-radius: 20px;
}