$primary: #FFFFFF;
$secondary: #3b3b3b;
$accent: #31ad5e;
$tc-1: #d45dff;
$tc-2: #ec4969;
$off-white: #c4c4c4;

html {
  background: linear-gradient(95deg, $primary, $accent);
}

#home-wrapper {
  //scroll: none;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background: $secondary;
  padding: 15px;
  div {
    display: flex;
  }
}

#body{
  display: flex;
  border: 1px solid black;
  margin: auto;
  height: calc(100vh - 92px);
  .channel-list {
    //background: $primary;
    display: flex;
    flex-flow: column;
    width: 200px;
    .channel-container {
      color: $primary;
      transition: all 0.5s;
      margin: 2px;
      height: 75px;
      border-radius: 15px;
      border: none;
      background: $secondary;
      &:hover {
        color: $accent;
        border-radius: 5px;
        letter-spacing: 1px;
        opacity: 0.7;
        border-top: 4px solid $accent;
        border-bottom: 4px solid $accent;
      }
    }
  }
}




.b1 {
  border: 3px solid $accent;
  color: $off-white;
  background: black;
  border-radius: 25px;
  font-weight: 800;
  font-size: 20px;
  margin: auto 5px auto 5px;
  &:hover {
    color: white;
    background:transparent;
  }
  width: 125px;
  height: 40px;
}
@keyframes rotate-colors {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.header-1 {
  background-image: linear-gradient(135deg, $tc-1, $tc-2);
  background-size: 150% 150%;
  animation: rotate-colors 3s infinite alternate;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -0.04em;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
